@import "tailwindcss";

@layer utilities {
  @keyframes spin {
    to { transform: rotate(360deg); }
  }

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
  }

  .animate-spin-custom {
    animation: spin 1s linear infinite;
  }

  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
}
